.calendardropper{
    margin-top: 5px;
    border-radius: 3px;
    padding: 5px;
    left: 0px;
    position: absolute;
    /* display: none; */
    background-color: white;
    border:1px #a9a9a9 solid;
    z-index: 1;
}

.dateCell{
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

/* .dateCell.selected{
    background-color: grey;
} */
.hovereffect:hover{
    background-color: #5897fb;
}

.today{
    background-color: yellow;
}