.dropper{
    margin-top: 5px; 
    border-radius: 3px; 
    padding: 5px; 
    left: 0px;
    position: absolute;
    display: none;
    background-color: white;
    border:1px #a9a9a9 solid;
    z-index: 1;
}

.calendardropper{
    margin-top: 5px;
    border-radius: 3px;
    padding: 5px;
    left: 0px;
    position: absolute;
    /* display: none; */
    background-color: white;
    border:1px #a9a9a9 solid;
    z-index: 1;
}

.drop.selected{
    background-color: grey;
}
.drop:hover{
    background-color: #5897fb;
}

.calendardropper{ 
    margin-top: 5px; 
    border-radius: 3px; 
    padding: 5px; 
    left: 0px; 
    position: absolute; 
    /* display: none; */ 
    background-color: white; 
    border:1px #a9a9a9 solid; 
    z-index: 1; 
} 