.nav{
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 10px;
    display: flex;
    background-color: black;
    height: 40px;
    align-items: center;
}

.navitem{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.navitem:hover {
    text-decoration: none;
    color: grey;
}

a:focus {
    text-decoration: none;
    color: white;
}

.contentcontainer{
    padding: 10px;
    padding-top: 30px;
}

.createbtn{
    margin-bottom: 10px;
}

.margin-right{
    margin-right: 4px;
}

.arraycontainer{
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid grey;
}

#tabs{
    padding-bottom: 5px;
    border-bottom: 1px dotted grey;
}

.group-left{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.group-middle{
    border-radius: 0 0 0 0;
    border-left: 0;
    border-right: 0;
}

.group-right{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.form-control{
    max-width: 220px;
}

.hovereffect:hover{
    background-color: gray;
    cursor: pointer;
}

.rounded-corners{
    border-radius: 3px;
}

.clearbtn{
    margin-left: 4px;
}
.sortableheader{
    cursor: pointer;
}

.sortableheader:hover{
    text-decoration: underline;
}