.nav{
    padding: 10px;
    display: flex;
    background-color: black;
    height: 40px;
    align-items: center;
}

.navitem{
    color: white;
    margin-right: 10px;
}

.contentcontainer{
    padding: 10px;
}

.createbtn{
    margin-bottom: 10px;
}

.button{
    margin: 0 5px 0 0;
}

.arraycontainer{
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid grey;
}

#tabs{
    padding-bottom: 5px;
    border-bottom: 1px dotted grey;
}